In [1]:
import pandas as pd
from names import *
from data_loader import *
import numpy as np

In [2]:
# step 1 and 2
# load data from csv's and fix missing values
(abalone_data, breast_cancer_data, car_data, forest_fires_data, house_votes_data, machine_data) = load_data()

C:\Users\joe\Development\jhu-iml-project-1\data_loader.py:9: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  pd.read_csv("data/car.data", names=car_names, index_col=False),

In [3]:
# step 3, handle and re-encode categorical data

# function that will one hot encode a column in a dataframe, used for nominal data
def one_hot_encode_column(df, column_name):
    # Get the column to be one-hot encoded
    column = df[column_name]
    
    # Perform one-hot encoding
    one_hot_encoded = pd.get_dummies(column, prefix=column_name)
    
    # Concatenate the one-hot encoded column with the original dataframe
    df = pd.concat([one_hot_encoded, df], axis=1)
    
    # Drop the original column
    df.drop(column_name, axis=1, inplace=True)
    
    return df

# used for ordinal data
def replace_values_in_column(df, column_name, pairs):
    column = df[column_name]
    
    for (t, r) in pairs:
        column = column.replace(t, r)
    
    df[column_name] = column
    
    return df

# one hot encode the sex feature of thge abalone dataset
abalone_data = one_hot_encode_column(abalone_data, "Sex")

# re-encode the class feature as 0 for benign and 1 for malignant
breast_cancer_data = replace_values_in_column(breast_cancer_data, "Class", [(2, 0), (4, 1)])

# re-encode the car data, it is all ordinal
car_data = replace_values_in_column(car_data, "buying", [("vhigh",0),("high",1),("med",2),("low",1)])
car_data = replace_values_in_column(car_data, "maint", [("vhigh",0),("high",1),("med",2),("low",1)])
car_data = replace_values_in_column(car_data, "doors", [("5more",5)])
car_data = replace_values_in_column(car_data, "persons", [(2,1), (4,2), ("more",6)])
car_data = replace_values_in_column(car_data, "lug_boot", [("small",1), ("med",2), ("large",3)])
car_data = replace_values_in_column(car_data, "safety", [("low",1), ("high",2), ("med",3)])

# replace forest fires data
forest_fires_data = one_hot_encode_column(forest_fires_data, "month")
forest_fires_data = one_hot_encode_column(forest_fires_data, "day")

# replace all values in the house votes data
for n in house_votes_names[1:]:
    house_votes_data = replace_values_in_column(house_votes_data, n, [("y",1),("n",-1),("?",0)])
    
# one hot encode non numeric columns in machine data
machine_data = one_hot_encode_column(machine_data, "Model Name")
machine_data = one_hot_encode_column(machine_data, "Vendor Name")

In [4]:
#step 4 discretization
def equal_width_discretize_column(df, column, bins):
    df[column] = pd.cut(df[column], bins, labels=False, retbins=False)
    return df

def equal_frequency_discretize_column(df, column, bins):
    df[column] = pd.qcut(df[column], q=bins, labels=False, retbins=False)
    return df

In [5]:
# step 5 standardization
def z_score_standardize_column(df, column):
    col = df[column]
    u = col.mean()
    sd = col.std()
    col = (col-sd)/u
    df[column] = col
    return df

In [10]:
# step 6 cross-validation and partitioning of data
def val_split(df):
    train=df[:].sample(frac=0.8)
    test=df[:].drop(train.index)
    return main, val

# do cross validation
data = data
for i in range

,Sex_F,Sex_I,Sex_M,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
3910,False,False,True,0.455,0.355,0.135,0.4745,0.1865,0.0935,0.1680,13
1701,True,False,False,0.635,0.490,0.175,1.2435,0.5805,0.3130,0.3050,10
527,True,False,False,0.570,0.445,0.155,0.7330,0.2820,0.1590,0.2350,14
673,False,False,True,0.490,0.390,0.150,0.5730,0.2250,0.1240,0.1700,21
3251,False,True,False,0.455,0.375,0.125,0.5330,0.2330,0.1060,0.1850,8
...,...,...,...,...,...,...,...,...,...,...,...
133,False,True,False,0.350,0.260,0.095,0.2110,0.0860,0.0560,0.0680,7
4123,False,True,False,0.490,0.375,0.115,0.5570,0.2275,0.1335,0.1765,8
1346,False,False,True,0.585,0.450,0.180,0.7995,0.3360,0.1855,0.2370,8
2147,False,False,True,0.460,0.375,0.135,0.4935,0.1860,0.0845,0.1700,12
887,True,False,False,0.675,0.525,0.155,1.4785,0.6280,0.3405,0.4200,9